{% extends "base.html" %} {% load static %} {% load thumbnail %}

{% block title %}
{% if product.meta_h1 %}{{ product.meta_h1 }}{% else %}{{ product.name }}{% endif %}
{% endblock %}

{% block description %}
{% if product.meta_description %}{{ product.meta_description}}{% endif %}
{% endblock %}

{% block keywords %}
{% if product.meta_keywords %}{{ product.meta_keywords}}{% endif %}
{% endblock %}

{% block content %}

<div class="single">
  <div class="container">
    <div class="single__row">
      <div class="single__left">
        <div class="swiper single__slider">
          <div class="single__wrapper swiper-wrapper">
            <div class="single__slide swiper-slide">
              <div class="single__image">
                <picture><source srcset="img/card.webp" type="image/webp"><img src="img/card.png" alt=""></picture>
              </div>
            </div>
            <div class="single__slide swiper-slide">
              <div class="single__image">
                <picture><source srcset="img/card.webp" type="image/webp"><img src="img/card.png" alt=""></picture>
              </div>
            </div>
            <div class="single__slide swiper-slide">
              <div class="single__image">
                <picture><source srcset="img/card.webp" type="image/webp"><img src="img/card.png" alt=""></picture>
              </div>
            </div>
          </div>
        </div>
        <div class="single__thumb swiper">
          <div class="single__thumb-wrapper swiper-wrapper">
            <div class="single__thumb-slide swiper-slide">
              <picture><source srcset="img/card.webp" type="image/webp"><img src="img/card.png" alt=""></picture>
            </div>
            <div class="single__thumb-slide swiper-slide">
              <picture><source srcset="img/card.webp" type="image/webp"><img src="img/card.png" alt=""></picture>
            </div>
            <div class="single__thumb-slide swiper-slide">
              <picture><source srcset="img/card.webp" type="image/webp"><img src="img/card.png" alt=""></picture>
            </div>
          </div>
        </div>
      </div>
      <div class="single__right">
        {% if product.name %}<h1 class="single__title">{{ product.name }}</h1>{% endif %}
        <p class="single__article">Артикул: 1221050012</p>

        <div class="single__filter">
          <div class="single__filter-item">
            <label for="color">Цвет</label>
            <select name="color" id="color" class="single__select">
              <option>Красный</option>
              <option>Синий</option>
              <option>Розовый</option>
            </select>
          </div>

          <div class="single__filter-item">
            <label for="size">Размер</label>
            <select name="size" id="size" class="single__select">
              <option>Красный</option>
              <option>Синий</option>
              <option>Розовый</option>
            </select>
          </div>

          <div class="single__filter-item">
            <label for="grav">Гравировка имени:</label>
            <select name="grav" id="grav" class="single__select">
              <option>Красный</option>
              <option>Синий</option>
              <option>Розовый</option>
            </select>
          </div>

          <div class="single__filter-item">
            <label for="cvet">Надгробие:</label>
            <select name="cvet" id="cvet" class="single__select">
              <option>Красный</option>
              <option>Синий</option>
              <option>Розовый</option>
            </select>
          </div>
        </div>

        <ul class="single__list-chars">
          <li>Гравировка: 5000 ₽</li>
          <li>Цветник: 5000 ₽</li>
          <li>Гравировка имени: 5000 ₽</li>
          <li>Гравировка портрета: 5000 ₽</li>
          <li>Гравировка даты: 5000 ₽</li>
        </ul>

        <div class="single__price">
          <p>Стоимость: <span>18 000 ₽</span></p>
        </div>

        <div class="single__btns">
          <button class="btn btn--yellow single__btn">
            Купить сейчас
            <img src="img/icon/i-arrow-right-dark.svg" alt="">
          </button>
          <button class="btn btn--primary single__btn">
            Добавить в корзину
            <img src="img/icon/i-arrow-right-dark.svg" alt="">
          </button>

          <button class="btn btn--outline single__btn">
            Заказать консультацию
            <img src="img/icon/i-arrow-right-dark.svg" alt="">
          </button>

        </div>

      </div>
    </div>

    <div class="single__text text">
      <h2>Описание</h2>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid consequatur dolores doloribus eum labore
        optio provident quae voluptatem! Aspernatur autem, dicta fugiat ipsam laborum nesciunt nihil porro repellendus
        ut voluptatum!
      </p>

      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid consequatur dolores doloribus eum labore
        optio provident quae voluptatem! Aspernatur autem, dicta fugiat ipsam laborum nesciunt nihil porro repellendus
        ut voluptatum!
      </p>
    </div>
  </div>
</div>

{% include "../../includes/_callback.html" %}

{% include "../../includes/_contact.html" %}


{% endblock %}