asgiref
beautifulsoup4
bs4
certifi
cffi
charset-normalizer
cryptography
defusedxml==0.4.1
distlib
Django====1.11.29
django-allauth==0.34.0
django-ckeditor
django-ckeditor-5
django-cors-headers
django-debug-toolbar
django-js-asset
django-recaptcha3
django-storages
et-xmlfile
filelock
idna
importlib-metadata
importlib-resources
lxml
numpy
oauthlib
openpyxl
pandas
Pillow
platformdirs
pycparser
PyJWT
python-dateutil
python-docx
python3-openid==3.1.0
pytils
pytz
requests
requests-oauthlib
six
sorl-thumbnail
soupsieve
sqlparse
typing_extensions
tzdata
urllib3
virtualenv
whitenoise==3.3.1
xlrd
zipp
