.breadcrumbs {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  padding: 0 0 30px;
  z-index: 2;


  // .breadcrumbs__item

  &__item {
    position: relative;
    display: flex;
    align-items: center;
    color: #202020;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    text-decoration-line: none;

    &:not(:last-child) {
      &::after {
        content: '';
        display: block;
        background-repeat: no-repeat;
        background-position: center;
        width: 20px;
        height: 100%;
        margin: 0 10px;
      }
    }

    &:last-child {
      color: rgb(103, 103, 103);
    }

    @media screen and (max-width: 620px) {
      font-size: 11px;

      &:not(:last-child) {
        &::after {
          width: 5px;
        }
      }
    }
  }
}