.callback {

  .container {
    position: relative;
  }

  &__angel {
    position: absolute;
    bottom: 100%;
    right: 0;
  }

  &__polygon {
    position: absolute;
    bottom: 30%;
    right: 0;
    z-index: -1;
  }


  &__row {
    background: $primaryColor;
    display: flex;
    padding: 30px;
    border-radius: 10px;

    @media screen and (max-width: 1200px) {
      flex-direction: column;
      gap: 30px;
    }
  }

  &__col {
    flex: 1 1 50%;
  }

  &__title {
    margin-bottom: 22px;
    font-family: Spectral, sans-serif;
    font-weight: 600;
    font-size: 40px;
    line-height: 140%;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: #fff;



    @media screen and (min-width: 1200px) {
      max-width: 340px;
    }

    @media screen and (max-width: 768px) {
      font-size: 30px;
    }

  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 19px;


    @media screen and (min-width: 1200px) {
      max-width: 420px;
    }

    @media screen and (max-width: 768px) {
     gap: 10px;
    }

    li {
      display: flex;
      align-items: flex-start;
      gap: 7px;

      img {
        margin-top: 7px;
      }

      p {
        font-weight: 600;
        font-size: 24px;
        color: #fff;

        @media screen and (max-width: 768px) {
          font-size: 18px;
        }
      }


    }


  }

  &__form-title {
    margin-bottom: 30px;
    font-weight: 600;
    font-size: 24px;
    font-family: Spectral, sans-serif;
    color: #fff;
  }


}