.cards {
  padding: 80px 0;

  &__grid {
    display: grid;
    gap: 20px;

    @media screen and (min-width: 768px) {
      grid-template-columns: repeat(auto-fit, minmax(530px, 1fr));
    }
  }

  &__item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid $secondaryColor;
    border-radius: 10px;
    overflow: hidden;

    @media screen and (max-width: 768px) {
      flex-direction: column;
      gap: 20px;
      padding-bottom: 10px;
    }
  }

  &__content {
    padding-left: 15px;
    @media screen and (max-width: 768px) {
      order: 1;
      width: 100%;
      padding: 10px;
    }

  }

  &__image {

    @media screen and (max-width: 768px) {
      order: 0;
    }

    img {
      @media screen and (min-width: 768px) {
        max-width: 256px;
      }
    }
  }

  &__title {
    margin-bottom: 21px;
    font-weight: 700;
    font-size: 24px;
    line-height: 120%;
    color: $primaryColor;
    font-family: Spectral, sans-serif;

    @media screen and (min-width: 768px) {
      max-width: 227px;
    }
  }

  &__link {
    justify-self: flex-start;
    display: flex;
    align-items: center;
    gap: 5px;
    border-radius: 5px;
    padding: 10px;
    background-color: $primaryColor;
    font-weight: 600;
    color: #fff;

    @media screen and (min-width: 768px) {
      max-width: 196px;
    }
  }


}