.map {
  padding: 80px 0;

  @media (max-width: 768px) {
    padding: 40px 0;
  }

  &__inner {
    border-radius: 10px;
    border: 1px solid $secondaryColor;
    overflow: hidden;

    @media (max-width: 768px) {
      iframe {
        height: 400px;
      }
    }
  }




}