.single {

  &__row {
    display: grid;
    grid-template-columns: 464px 1fr;
    gap: 60px;
  }

  &__left {
  }

  &__slider {
    width: 464px;
  }

  &__wrapper {
  }

  &__slide {
  }

  &__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__thumb {
    margin-top: 20px;
  }

  &__thumb-wrapper {
  }

  &__thumb-slide {
  }

  &__right {
  }

  &__title {
    font-weight: 500;
    font-size: 40px;
    color: #000;
    font-family: Spectral, sans-serif;
  }

  &__article {
    font-weight: 300;
    font-size: 16px;
    color: #9c9c9c;
    font-family: Spectral, sans-serif;
  }

  &__filter {
    margin-top: 20px;
    margin-bottom: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 24px 10px;
  }

  &__filter-item {
    display: flex;
    flex-direction: column;
    gap: 5px;

    label {
      font-family: Spectral, sans-serif;
      font-weight: 300;
      font-size: 20px;
      color: #000;
    }
  }

  &__select {
    border: 1px solid #f7e76f;
    border-radius: 5px;
    height: 50px;
  }

  &__list-chars {

    li {
      font-family: Spectral, sans-serif;
      font-weight: 500;
      font-size: 16px;
      color: #5b5b5b
    }

  }

  &__price {
    margin-top: 20px;
    p {
      font-family: Spectral, sans-serif;
      font-weight: 300;
      font-size: 40px;
      letter-spacing: -0.03em;
      color: #000;

      span {
        font-weight: 600;
      }
    }
  }

  &__btns {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 24px;
    margin-top: 20px;

  }

  &__btn {
    padding: 15px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-weight: 600;
  }

  &__text {
    margin-top: 40px;
    border-top: 1px solid #F7E76F;
    padding: 30px 0;

    h2 {
      margin-bottom: 15px;
    }

    p {
      margin-bottom: 15px;
    }

  }


}