{% extends 'base.html' %}
{% load static %}
{% load thumbnail %}
{% block title %}
{% if contact.meta_title %}{{ contact.meta_title }}{% else %}Контакты{% endif %}
{% endblock %}
{% block description %}{{ contact.meta_description }}{% endblock %}
{% block keywords %}{{ contact.meta_keywords }}{% endblock %}

{% block content %}


<div class="contact">
  <div class="container">
    <div class="breadcrumbs" itemscope="" itemtype="http://schema.org/BreadcrumbList">
      <a href="{% url 'home' %}" itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem"
         class="breadcrumbs__item">
        Главная
        <meta itemprop="position" content="1">
      </a>
      <span itemprop="name" class="breadcrumbs__item">
            Контакты
            <meta itemprop="position" content="2">
        </span>
    </div>
    <div class="contact__title title">Контакты</div>
    <div class="contact__row">
      <div class="contact__left">
        <p class="contact__right-title">
          Свяжитесь с нами
        </p>

        <div class="contact__grid">
          <div class="contact__item">
            <p class="contact__item-title">Адрес:</p>
            <div class="contact__item-inner">
              {% if site_settings.city %}
              <p>{{ site_settings.city }}</p>
              {% endif %}
              {% if branch %}
                {% for br in branch %}
                  <p>{{ br.address }}</p>
                {% endfor %}
              {% endif %}
            </div>
          </div>

          <div class="contact__item">
            <p class="contact__item-title">График работы:</p>
            <div class="contact__item-inner">
              {% if site_settings.time_work %}
                <p>{{ site_settings.time_work }}</p>
              {% endif %}

              {% if site_settings.time_work_weekend %}
                <p>{{ site_settings.time_work_weekend }}</p>
              {% endif %}
            </div>
          </div>
          <div class="contact__item">
            <p class="contact__item-title">Реквизиты:</p>
            <div class="contact__item-inner">
              {% if contact.iin %}
              <p>ИНН {{ contact.iin }}</p>
              {% endif %}

              {% if contact.ogrn %}
              <p>ОГРН {{ contact.ogrn }}</p>
              {% endif %}
            </div>
          </div>
          <div class="contact__item">
            <p class="contact__item-title">Связаться:</p>
            <div class="contact__item-inner">
              {% if branch %}
              {% for br in branch %}
              <a href="tel:{{ br.phone_one }}">{{ br.phone_one }}</a>
              {% endfor %}
              {% endif %}
              {% if site_settings.email %}
                <a href="mailto:{{ site_settings.email }}">{{ site_settings.email }}</a>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
      <div class="contact__right">
        <p class="contact__right-title">
          Или оставьте заявку и мы перезвоним
        </p>
        <form action="" class="contact__form form">
          <input type="text" placeholder="Ваше имя" class="form__input" name="name">
          <input type="tel" placeholder="Номер телефона" class="form__input" name="phone">
          <div class="form__bottom">
            <div class="form__checkbox">
              <input type="checkbox" id="agree" name="agree">
              <label for="agree">
                Я даю свое согласие на обработку персональных данных и подверждаю, что ознакомлен(а) с политикой
                конфиденциальности и обработки персональных данных
              </label>
            </div>
            <button type="submit" class="form__submit">
              Оставить заявку
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

  {% include "../includes/_map.html" %}

  {% if contact.description %}
  <section class="py border-t">
    <div class="container">
      <div class="section-text text">
        {{ contact.description|safe }}
      </div>
    </div>
  </section>
  {% endif %}

{% endblock %}