{% extends 'base.html' %}
{% load static %}
{% load thumbnail %}
{% block title %}

{% if gallery.meta_title %}
{{ docs.meta_title }}
{% else %}
Документы
{% endif %}

{% endblock %}
{% block description %}{{ docs.meta_description }}{% endblock %}
{% block keywords %}{{ docs.meta_keywords }}{% endblock %}

{% block content %}

<div class="top-page">
  <div class="container">
    <div class="breadcrumbs" itemscope="" itemtype="http://schema.org/BreadcrumbList">
      <a href="{% url 'home' %}" itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem"
         class="breadcrumbs__item">
        Главная
        <meta itemprop="position" content="1">
      </a>
      <span itemprop="itemListElement" itemscope=""
            itemtype="http://schema.org/ListItem" class="breadcrumbs__item">
            Документы
            <meta itemprop="position" content="2">
        </span>
    </div>
  </div>
</div>

<section class="gallery">
  <div class="container">

    <h1 class="gallery__title">
      Документы
    </h1>

    {% if docs.text %}
    <section class="py">
      <div class="container">
        <div class="section-text text">
          {{ docs.text|safe }}
        </div>
      </div>
    </section>
    {% endif %}

    {% if items %}
    <div class="gallery__grid">
      {% for item in items %}
        <div class="gallery__grid-inner">
          {% if item.image %}
          <a href="{{ item.image.url }}" class="gallery__item" data-fancybox="gallery">
            <i class="fa-solid fa-plus"></i>
            <img src="{{ item.image.url }}" alt="{{ item.image.title }}" title="{{ item.image.title }}">
          </a>{% endif %}
          {% if item.file %}
          <a href="{{ item.file.url }}" class="gallery__link" download>
            {{ item.title }}
            <i class="fa-solid fa-download"></i>
          </a>{% endif %}
        </div>
      {% endfor %}
    </div>
    {% endif %}
  </div>
</section>


{% endblock %}