{% extends 'base.html' %}
{% load static %}
{% load thumbnail %}
{% block title %}
{% if home_page.meta_title %}{{ home_page.meta_title }}{% else %}Главная страница{% endif %}
{% endblock %}
{% block description %}{{ home_page.meta_description }}{% endblock %}
{% block keywords %}{{ home_page.meta_keywords }}{% endblock %}

{% block content %}
<div class="hero">
  <div class="container">
    <div class="hero__inner">
      <div class="hero__content">
        <h1>
          {{ settings.meta_h1|safe }}
        </h1>
        <hr>
        <p>
          {{ settings.description|safe }}
        </p>

        <div class="hero__btns">
          <button type="button" class="hero__btn btn btn--primary">
            Оставить заявку
            <img src="{% static 'theme/img/icon/i-arrow-right-white.svg' %}" alt="">
          </button>
          <a href="{% url 'category' %}" type="button" class="hero__btn btn btn--outline">
            Каталог
            <img src="{% static 'theme/img/icon/i-arrow-right-dark.svg' %}" alt="">
          </a>
        </div>
      </div>
      {% if settings.image %}
      <div class="hero__image">
        <img src="{{ settings.image.url }}" alt="">
      </div>
      {% endif %}
    </div>
  </div>
</div>

{% if category %}
<div class="cards">
  <div class="container">
    <div class="cards__grid">
      {% for cat in category %}
      <div class="cards__item">
        <div class="cards__content">
          <p class="cards__title">
            {{ cat.name }}
          </p>
          <a href="{{ cat.get_absolute_url }}" class="cards__link">
            Узнать подробнее
            <img src="{% static 'theme/img/icon/i-arrow-link.svg' %}" alt="">
          </a>
        </div>
        <div class="cards__image">
          {% if cat.image %}
          <img src="{{ cat.image.url }}" alt="{{ cat.name }}" title="{{ cat.name }}">
          {% endif %}
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
{% endif %}

{% comment %}{% if slides %}
<div class="works">
  <h2 class="title works__title">
    Наши работы
  </h2>
  <div class="works-slider swiper-slider">
    <div class="swiper-wrapper">
      {% for work in slides %}
      <div class="swiper-slide works__slide">
        <a href="" data-gallery="works">
          <img src="{{ work.image.url }}" alt="">
        </a>
      </div>
      {% endfor %}
    </div>
    <div class="works__controls">
      <div class="container">
        <div class="works__controls-inner">
          <div class="swiper-button-prev works-prev"></div>
          <div class="swiper-button-next works-next"></div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endif %}{% endcomment %}

<div class="works">
  <h2 class="title works__title">
    Наши работы
  </h2>
  <div class="works-slider swiper-slider">
    <div class="swiper-wrapper">
      <div class="swiper-slide works__slide">
        <a href="{% static 'theme/img/images/6.jpg' %}" data-gallery="works">
          <img src="{% static 'theme/img/images/6.jpg' %}" alt="">
        </a>
      </div>
      <div class="swiper-slide works__slide">
        <a href="{% static 'theme/img/images/7.jpg' %}" data-gallery="works">
          <img src="{% static 'theme/img/images/7.jpg' %}" alt="">
        </a>
      </div>
      <div class="swiper-slide works__slide">
        <a href="{% static 'theme/img/images/8.jpg' %}" data-gallery="works">
          <img src="{% static 'theme/img/images/8.jpg' %}" alt="">
        </a>
      </div>

      <div class="swiper-slide works__slide">
        <a href="{% static 'theme/img/images/9.jpg' %}" data-gallery="works">
          <img src="{% static 'theme/img/images/9.jpg' %}" alt="">
        </a>
      </div>
    </div>
    <div class="works__controls">
      <div class="container">
        <div class="works__controls-inner">
          <div class="swiper-button-prev works-prev"></div>
          <div class="swiper-button-next works-next"></div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="reviews">
  <div class="container">
    <h2 class="title">Ваши отзывы</h2>
    <div class="reviews__row">
      <div class="reviews__col">
        <p class="reviews__title">
          Мы всегда рады вашим отзывам о нашей работе
        </p>
        <a href="" class="reviews__link btn btn--primary">Оставить отзыв</a>
      </div>
      <div class="reviews__col">
        <iframe id="big_light_70000001028117657" frameborder="0" width="528px" height="500px"
                sandbox="allow-modals allow-forms allow-scripts allow-same-origin allow-popups allow-top-navigation-by-user-activation"></iframe>
        <script type="text/javascript">((r, u) => {
          const l = document.getElementById(r);
          l.contentWindow.document.open(), l.contentWindow.document.write(decodeURIComponent(escape(atob(u)))), l.contentWindow.document.close()
        })("big_light_70000001028117657", "PGhlYWQ+PHNjcmlwdCB0eXBlPSJ0ZXh0L2phdmFzY3JpcHQiPgogICAgd2luZG93Ll9fc2l6ZV9fPSdiaWcnOwogICAgd2luZG93Ll9fdGhlbWVfXz0nbGlnaHQnOwogICAgd2luZG93Ll9fYnJhbmNoSWRfXz0nJwogICAgd2luZG93Ll9fb3JnSWRfXz0nNzAwMDAwMDEwMjgxMTc2NTcnCiAgIDwvc2NyaXB0PjxzY3JpcHQgY3Jvc3NvcmlnaW49ImFub255bW91cyIgdHlwZT0ibW9kdWxlIiBzcmM9Imh0dHBzOi8vZGlzay4yZ2lzLmNvbS93aWRnZXQtY29uc3RydWN0b3IvYXNzZXRzL2lmcmFtZS5qcyI+PC9zY3JpcHQ+PGxpbmsgcmVsPSJtb2R1bGVwcmVsb2FkIiBjcm9zc29yaWdpbj0iYW5vbnltb3VzIiBocmVmPSJodHRwczovL2Rpc2suMmdpcy5jb20vd2lkZ2V0LWNvbnN0cnVjdG9yL2Fzc2V0cy9kZWZhdWx0cy5qcyI+PGxpbmsgcmVsPSJzdHlsZXNoZWV0IiBjcm9zc29yaWdpbj0iYW5vbnltb3VzIiBocmVmPSJodHRwczovL2Rpc2suMmdpcy5jb20vd2lkZ2V0LWNvbnN0cnVjdG9yL2Fzc2V0cy9kZWZhdWx0cy5jc3MiPjwvaGVhZD48Ym9keT48ZGl2IGlkPSJpZnJhbWUiPjwvZGl2PjwvYm9keT4=")</script>
      </div>
    </div>
  </div>
</div>

{% include '../includes/_map.html' %}

{% include '../includes/_callback.html' %}

<div class="clients">
  <div class="container">
    <h2 class="clients__title title">Наши клиенты со всего мира</h2>
    <div class="clients__list">
      <p>Россия:</p>
      <p>
        Калининград, Санкт-Петербург, Москва, Коломна, Крым, Сочи, Краснодар, Новосибирск, Барнаул, Кемерово,
        Анжеро-Судженск, Краснодар, Иркутск, Хабаровск, Петропавловск-Камчатский.
      </p>
    </div>
    <div class="clients__list">
      <p>Евразия:</p>
      <p>
        Испания, Германия, Белорусь, Казахстан, Бангладеш, Тайланд
      </p>
    </div>
    <div class="clients__map">
      <img src="{% static 'theme/img/maps.png' %}" alt="">
    </div>
  </div>
</div>


{% endblock %}