{% extends 'base.html' %}
{% load static %}
{% block title %}
{% if settings.meta_title %}
{{ settings.meta_title }}
{% endif %}
{% endblock %}

{% block description %}
{% if settings.meta_description %}
{{ settings.meta_description }}
{% endif %}
{% endblock %}

{% block keywords %}
{% if settings.meta_keywords %}
{{ settings.meta_keywords }}
{% endif %}
{% endblock %}
{% block content %}

<main class="service">
  <div class="service__hero">
    <div class="container">
      <div class="service__row">
        <div class="service__col">
          <div class="breadcrumbs" itemscope="" itemtype="http://schema.org/BreadcrumbList">
            <a href="/" itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem"
               class="breadcrumbs__item">
              Главная
              <meta itemprop="position" content="1"/>
            </a>
            <span itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem"
                  class="breadcrumbs__item">
            Услуги
            <meta itemprop="position" content="2"/>
          </span>
          </div>
          <h1 class="service__hero-title title">
            {% if settings.meta_h1 %}
            {{ settings.meta_h1|safe }}
            {% else %}
            <span>Мемориальные улуги</span><br/> компании Монумент
            {% endif %}
          </h1>
          {% if settings.description %}
            {{ settings.description|safe }}
          {% endif %}

          <div class="hero__buttons">
            <button type="button" class="service__hero-button btn">Проконсультироваться</button>
          </div>
        </div>
        <div class="service__col">
          <img src="{% static 'theme/img/memorial_complex.png' %}" alt="" title="" class="service__hero-image"/>
        </div>
      </div>
    </div>
  </div>
  {% if service %}
  <section class="service__content py">
    <div class="container">
      <div class="service__items">
        {% for serv in service %}
        <a href="{{ serv.get_absolute_url }}" class="service__item"
           style="background-image: url({% static 'theme/img/texture.jpg' %})">
          <div class="service__icon">
            <img src="{{ serv.image.url }}" alt="" title=""/>
          </div>
          <p class="service__item-text">{{ serv.name }}</p>
        </a>
        {% endfor %}
      </div>
    </div>
  </section>
  {% endif %}

  {% if settings.text %}
  <section class="service-content py">
    <div class="container">
      <div class="service-content__inner">
        <div class="service-content__row">
          <div class="service-content__onecol">
            <div class="service-content__text _text" style="margin-bottom: 40px;">
              {{ settings.text|safe }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  {% endif %}

  {% include "../../includes/_callback.html" %}
</main>
{% endblock %}