{% extends 'base.html' %}
{% load static %}
{% block title %}
{% if settings.meta_title %}
{{ settings.meta_title }}
{% else %}
Мемориальные услуги компании Акрополь
{% endif %}
{% endblock %}

{% block description %}
{% if settings.meta_description %}
{{ settings.meta_description }}
{% else %}
Заказывайте профессиональные услуги по гравировке на памятниках, установке памятников и благоустройству могил.
Гарантируем качественное выполнение работ, долговечность и аккуратность. Создайте достойную память о близких с
"Акрополь"
{% endif %}
{% endblock %}

{% block keywords %}
{% if settings.meta_keywords %}
{{ settings.meta_keywords }}
{% else %}
ритуальные услуги томск, мемориальные услуги, ритуальные услуги
{% endif %}
{% endblock %}
{% block content %}

<main class="service">
  <div class="service__hero">
    <div class="container">
      <div class="service__row">
        <div class="service__col">
          <div class="breadcrumbs" itemscope="" itemtype="http://schema.org/BreadcrumbList">
            <a href="/" itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem"
               class="breadcrumbs__item">
              Главная
              <meta itemprop="position" content="1"/>
            </a>
            <span itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem"
                  class="breadcrumbs__item">
            Услуги
            <meta itemprop="position" content="2"/>
          </span>
          </div>
          <h1 class="service__hero-title title">
            {% if settings.meta_h1 %}
            {{ settings.meta_h1|safe }}
            {% else %}
            <span>Мемориальные улуги</span><br/> компании Монумент
            {% endif %}
          </h1>
          <p class="service__hero-subtitle">
            Благоустройство могил включает комплекс работ, направленных на создание
            привлекательного и ухоженного вида захоронения.
          </p>

          <div class="hero__buttons">
            <button type="button" class="service__hero-button btn">Проконсультироваться</button>
          </div>
        </div>
        <div class="service__col">
          <img src="{% static 'theme/img/memorial_complex.png' %}" alt="" title="" class="service__hero-image"/>
        </div>
      </div>
    </div>
  </div>

  <section class="service__content py">
    <div class="container">
      <h1 class="service__content-title">Наши услуги</h1>
      <div class="service__items">
        <a href="{% url 'service_new' %}" class="service__item"
           style="background-image: url({% static 'theme/img/texture.jpg' %})">
          <div class="service__icon">
            <img src="{% static 'theme/img/serice-5.png' %}" alt="" title=""/>
          </div>
          <p class="service__item-text">Установка памятника</p>
        </a>
        <a href="{% url 'service_grav' %}" class="service__item"
           style="background-image: url({% static 'theme/img/texture.jpg' %})">
          <div class="service__icon">
            <img src="{% static 'theme/img/service-6.png' %}" alt=""  title=""/>
          </div>
          <p class="service__item-text">Гравировка на памятнике</p>
        </a>
      </div>
    </div>
  </section>


  {% if settings.description %}
  <section class="service-content">
    <div class="container">
      <div class="service-content__inner">
        <div class="service-content__row">
          <div class="service-content__onecol">
            <div class="service-content__text _text" style="margin-bottom: 20px;">
              {{ settings.description|safe }}
            </div>
            <a href="{% url 'category' %}" class="service-content__btn _btn">Перейти в каталог</a>
          </div>
        </div>
      </div>
    </div>
  </section>
  {% endif %}

  {% include "../../includes/_callback.html" %}
</main>
{% endblock %}