{% extends 'base.html' %} {% load static %}
{% block title %}

{% endblock %}

{% block description %}

{% endblock %}

{% block keywords %}

{% endblock %}

{% block content %}

<body>
<div class="wrapper">
  <div class="service__hero">
    <div class="container">
      <div class="service__row">
        <div class="service__col">
          <div class="breadcrumbs" itemscope="" itemtype="http://schema.org/BreadcrumbList">
            <a href="/" itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem"
               class="breadcrumbs__item">
              Главная
              <meta itemprop="position" content="1"/>
            </a>
            <a href="{% url 'service' %}" itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem"
               class="breadcrumbs__item">
              Услуги
              <meta itemprop="position" content="2"/>
            </a>
            <span itemprop="name" class="breadcrumbs__item">
              Гравировка
              <meta itemprop="position" content="3"/>
            </span>
          </div>
          <h1 class="service__hero-title title">
            {{ service.name }}
          </h1>

          {{ service.description|safe }}

          <div class="hero__buttons">
            <button type="button" class="hero__button btn" data-popup="leave-request" data-name="{{ service.name }}">
              Заказать консультацию
            </button>
          </div>

        </div>
        <div class="service__col">
          {% if service.image %}
          <img src="{{ service.image.url }}" alt="" title="" class="service__hero-image"/>
          {% endif %}
        </div>
      </div>
    </div>
  </div>

  {% if service.text %}
  <section class="service-content py">
    <div class="container">
      <div class="service-content__text _text">
        {{ service.text|safe }}
      </div>
    </div>
  </section>
  {% endif %}

  {% if blocks %}
    <div class="service__blocks">
      <section class="service-content py">
        <div class="container">
          <div class="service-content__inner">
            <h2 class="service-content__title _title-h2">Портретная плитка на цветные и светлые камни</h2>
            <div class="service-content__row">
              <div class="service-content__col">
                <img src="{% static 'theme/img/portretnaya-plitka.jpg' %}" alt="Преимущества гравировки станком"
                     title="Преимущества гравировки станком" class=""/>
              </div>
              <div class="service-content__col">
                <div class="service-content__text _text">
                  <div class="hidden_content">
                    <p>Памятники и надгробия, выполненные из базальта с выгравированными портретами, создают впечатляющий
                      эффект. Рисунок наносится на подготовленную и отполированную плитку, которая затем прочно
                      фиксируется
                      в
                      нише памятника.
                    </p>
                    <br>
                    <p>
                      <strong>
                        Преимущества портретной плитки из базальта:
                      </strong>
                    </p>
                    <br>
                    <ul>
                      <li>
                        <strong>Выразительность:</strong> Базальт позволяет создавать четкие и контрастные изображения
                        благодаря светлому излому камня
                      </li>
                      <li>
                        <strong>Универсальность:</strong> Подходит для любых изображений и надписей, что делает его
                        идеальным
                        для создания портретов
                      </li>
                      <li>
                        <strong>Долговечность:</strong> Базальт устойчив к внешним воздействиям, что гарантирует
                        сохранение
                        изображения на долгие годы
                      </li>
                      <li>
                        <strong>Эстетическая привлекательность:</strong> Насыщенный черный цвет и однородность базальта
                        придают изделиям элегантный вид
                      </li>
                      <li>
                        <strong>Универсальность:</strong> Из плитки можно вырезать любую форму: квадрат,овал,сердце,любые
                        произвольные формы по вашему рисунку
                      </li>
                    </ul>
                    <br>
                    <p>
                      <strong>Процесс создания портретной плитки:</strong>
                    </p>
                    <br>
                    <ol>
                      <li><strong>Подготовка поверхности:</strong> Плитка тщательно очищается и полируется</li>
                      <li><strong>Нанесение рисунка:</strong> С помощью специального оборудования рисунок наносится на
                        поверхность плитки
                      </li>
                      <li>
                        <strong>Гравировка:</strong> Рисунок углубляется в поверхность камня с помощью гравировального
                        инструмента
                      </li>
                      <li>
                        <strong>Финальная обработка:</strong> После гравировки плитка снова полируется, чтобы добиться
                        идеального блеска и четкости изображения
                      </li>
                    </ol>
                    <br>
                    <p>
                      <strong>Заказать портрет на плитке:</strong>
                    </p>
                    <p>
                      Если вы хотите заказать портрет на плитке, мы предлагаем качественное и быстрое выполнение работы.
                      Вы
                      можете забрать или заказать доставку готового изделия и установить его самостоятельно или доверить
                      установку мастерам компании Акрополь. Это будет недорого и займет минимум времени.
                    </p>
                  </div>
                </div>
                <div class="service-content__buttons">
                  <button type="button" class="service-content__btn _btn" data-popup="more">Подробнее</button>
                  <a href="https://xn----7sbbi3adkojmfupe8q.xn--p1ai/gallery/" class="service-content__btn _btn">Наши
                    работы</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  {% endif %}
  {% include "../../includes/_callback.html" %}
</div>
</body>
{% endblock %}