<div class="footer">
  <div class="container">
    <div class="footer__row">
      <div class="footer__col">
        {% if site_settings.logo_dark %}
        <a href="" class="footer__logo">
          <img src="{{ site_settings.logo_dark.url }}" alt="">
        </a>
        {% endif %}
      </div>
      <div class="footer__col">
        <p class="footer__title">Каталог</p>
        <ul class="footer__nav">
          <li><a href="">Памятники</a></li>
          <li><a href="">Гравировка</a></li>
          <li><a href="">Портреты</a></li>
          <li><a href="">Оградки</a></li>
          <li><a href="">Столы, лавки, кресты</a></li>
          <li><a href="">Декор</a></li>
          <li><a href="">Мемориальные комплексы</a></li>
          <li><a href="">Металлические памятники</a></li>
          <li><a href="">Рамки и таблицы</a></li>
        </ul>
      </div>
      <div class="footer__col">
        <p class="footer__title">Услуги</p>
        <ul class="footer__nav">
          <li><a href="">Доставка</a></li>
          <li><a href="">Установка</a></li>
          <li><a href="">Гравировка</a></li>
        </ul>
      </div>
      <div class="footer__col">
        <p class="footer__title">Меню</p>
        <ul class="footer__nav">
          <li><a href="">Каталог</a></li>
          <li><a href="">О нас</a></li>
          <li><a href="">Наши работы</a></li>
          <li><a href="">Оплата</a></li>
          <li><a href="">Услуги</a></li>
          <li><a href="">Контакты</a></li>
          <li><a href="">Гравировка</a></li>
        </ul>
      </div>
      <div class="footer__col">
        <p class="footer__title">Контакты</p>
        {% if branch %}
        <div class="footer__info">
          {% for br in branch %}
          <a href="tel:{{ br.phone_one }}" class="footer__phone">{{ br.phone_one }}</a>
          {% endfor %}
          <button type="button" class="footer__btn">Обратный звонок</button>
        </div>
        {% endif %}

        {% if branch %}
        <div class="footer__info">
          <p class="footer__city">г.Томск</p>
          {% for br in branch %}
            <p class="footer__address">{{ br.address }}</p>
          {% endfor %}
        </div>
        {% endif %}

        <div class="footer__info">
          <p class="footer__time">Время работы:</p>
          <p class="footer__timework">Понедельник - Выходной</p>
          <p class="footer__timework">Вт-Пт 09:00 - 17:00</p>
          <p class="footer__timework">Суббота 10:00 - 16:00</p>
          <p class="footer__timework">Воскресенье - Выходной</p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="author">
  <div class="container">
    <div class="author__inner">
      <div class="copyright">© 2025 ООО “МОНУМЕНТ”</div>
      <a href="" class="policy">Политика конфиденциальности</a>
    </div>
  </div>
</div>