<div class="footer">
  <div class="container">
    <div class="footer__row">
      <div class="footer__col">
        {% if site_settings.logo_dark %}
        <a href="" class="footer__logo">
          <img src="{{ site_settings.logo_dark.url }}" alt="">
        </a>
        {% endif %}
      </div>
      {% if services %}
      <div class="footer__col">
        <p class="footer__title">Услуги</p>
        <ul class="footer__nav">
          {% for service in services %}
            <li><a href="{{ service.get_absolute_url }}">{{ service.name }}</a></li>
          {% endfor %}
        </ul>
      </div>
      {% endif %}

      {% if categories %}
      <div class="footer__col">
        <p class="footer__title">Каталог</p>
        <ul class="footer__nav">
          {% for cat in categories %}
          <li><a href="{{ cat.get_absolute_url }}">{{ cat.name }}</a></li>
          {% endfor %}
        </ul>
      </div>
      {% endif %}

      <div class="footer__col">
        <p class="footer__title">Меню</p>
        <ul class="footer__nav">
          <li><a href="{% url 'category' %}">Каталог</a></li>
          <li><a href="{% url 'about' %}">О нас</a></li>
          <li><a href="{% url 'gallery' %}">Наши работы</a></li>
          <li><a href="{% url 'service' %}">Услуги</a></li>
          <li><a href="{% url 'contact' %}">Контакты</a></li>
          <li><a href="{% url 'documents' %}">Документы</a></li>
        </ul>
      </div>
      <div class="footer__col">
        <p class="footer__title">Контакты</p>
        {% if branch %}
        <div class="footer__info">
          {% for br in branch %}
          <a href="tel:{{ br.phone_one }}" class="footer__phone">{{ br.phone_one }}</a>
          {% endfor %}
          <button type="button" class="footer__btn" data-popup="callback">Обратный звонок</button>
        </div>
        {% endif %}

        {% if branch %}
        <div class="footer__info">

          {% if site_settings.city %}
            <p class="footer__city">{{ site_settings.city }}</p>
          {% endif %}

          {% for br in branch %}
            <p class="footer__address">{{ br.address }}</p>
          {% endfor %}

        </div>
        {% endif %}

        <div class="footer__info">
          <p class="footer__time">Время работы:</p>
          {% if site_settings.time_work %}<p class="footer__timework">{{ site_settings.time_work }}</p>{% endif %}
          {% if site_settings.time_work_weekend %}<p class="footer__timework">{{ site_settings.time_work_weekend }}</p>{% endif %}
        </div>
      </div>
    </div>
  </div>
</div>
<div class="author">
  <div class="container">
    <div class="author__inner">
      <div class="copyright">© 2025 ООО “МОНУМЕНТ”</div>
      <a href="{% url 'privacy' %}" class="policy">Политика конфиденциальности</a>
    </div>
  </div>
</div>

{% if socials %}
<div class="social-sticky">
  {% for social in socials %}
  <a href="{{ social.link }}" class="social-sticky__item" target="_blank">
    {% if social.icon_dark %}
      <img src="{{ social.icon_dark.url }}" alt="{{ social.name }}">
    {% endif %}
  </a>
  {% endfor %}
</div>
{% endif %}

<div id="cookie-notice" class="cookie-notice">
  Мы используем cookie. Это позволяет нам анализировать взаимодействие посетителей с сайтом и делать его лучше.
  Продолжая пользоваться сайтом, вы соглашаетесь с использованием файлов
  <a href="{% url 'cookie' %}" target="_blank">cookie</a> и
  <a href="{% url 'privacy' %}" target="_blank">политикой конфиденциаьности.</a>
  <button id="accept-cookies" class="accept-cookies">Я согласен</button>
</div>
