<div class="footer">
  <div class="container">
    <div class="footer__row">
      <div class="footer__col">
        {% if site_settings.logo_dark %}
        <a href="" class="footer__logo">
          <img src="{{ site_settings.logo_dark.url }}" alt="">
        </a>
        {% endif %}
      </div>
      {% if services %}
      <div class="footer__col">
        <p class="footer__title">Услуги</p>
        <ul class="footer__nav">
          {% for service in services %}
            <li><a href="{{ service.get_absolute_url }}">{{ service.name }}</a></li>
          {% endfor %}
        </ul>
      </div>
      {% endif %}

      {% if categories %}
      <div class="footer__col">
        <p class="footer__title">Каталог</p>
        <ul class="footer__nav">
          {% for cat in categories %}
          <li><a href="{{ cat.get_absolute_url }}">{{ cat.name }}</a></li>
          {% endfor %}
        </ul>
      </div>
      {% endif %}

      <div class="footer__col">
        <p class="footer__title">Меню</p>
        <ul class="footer__nav">
          <li><a href="{% url 'category' %}">Каталог</a></li>
          <li><a href="{% url 'about' %}">О нас</a></li>
          <li><a href="{% url 'gallery' %}">Наши работы</a></li>
          <li><a href="{% url 'service' %}">Услуги</a></li>
          <li><a href="{% url 'contact' %}">Контакты</a></li>
          <li><a href="{% url 'documents' %}">Документы</a></li>
        </ul>
      </div>
      <div class="footer__col">
        <p class="footer__title">Контакты</p>
        {% if branch %}
        <div class="footer__info">
          {% for br in branch %}
          <a href="tel:{{ br.phone_one }}" class="footer__phone">{{ br.phone_one }}</a>
          {% endfor %}
          <button type="button" class="footer__btn">Обратный звонок</button>
        </div>
        {% endif %}

        {% if branch %}
        <div class="footer__info">
          <p class="footer__city">г.Томск</p>
          {% for br in branch %}
            <p class="footer__address">{{ br.address }}</p>
          {% endfor %}
        </div>
        {% endif %}

        <div class="footer__info">
          <p class="footer__time">Время работы:</p>
          {% if site_settings.time_work %}<p class="footer__timework">{{ site_settings.time_work }}</p>{% endif %}
          {% if site_settings.time_work_weekend %}<p class="footer__timework">{{ site_settings.time_work_weekend }}</p>{% endif %}
        </div>
      </div>
    </div>
  </div>
</div>
<div class="author">
  <div class="container">
    <div class="author__inner">
      <div class="copyright">© 2025 ООО “МОНУМЕНТ”</div>
      <a href="" class="policy">Политика конфиденциальности</a>
    </div>
  </div>
</div>