{% extends "base.html" %} {% load shop_tags %} {% load thumbnail %}{% load static %}
{% block title %}
{% if category.meta_title %}
{{ category.meta_title }}
{% else %}
{{ category.name }}
{% endif %}
{% endblock %}
{% block description %}
{{ category.meta_description }}
{% endblock %}
{% block keywords %}
{{ category.meta_keywords }}
{% endblock %}

{% block content %}

<div class="top-page">
  <div class="container">
    <div class="breadcrumbs" itemscope="" itemtype="http://schema.org/BreadcrumbList">
      <a href="{% url 'home' %}" itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem"
         class="breadcrumbs__item">
        Главная
        <meta itemprop="position" content="1">
      </a>
      <a href="{% url 'category' %}" itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem"
         class="breadcrumbs__item">
        Каталог
        <meta itemprop="position" content="2">
      </a>
      <span itemprop="name" class="breadcrumbs__item">
            {{ category.name }}
            <meta itemprop="position" content="3">
        </span>
    </div>
    <h1 class="top-page__title title">{{ category.name }}</h1>
  </div>
</div>

<div class="container">
  <div class="category-details__row-col py">

    <div class="category-details__col">
      <div class="category-details__col" id="filter-category">
        <button type="button" class="close popup__close" id="close-filter"><span></span></button>
        <form method="GET" class="filter-form">
          {% if categories or category_gallery %}
          <div class="filter__body">
            <!--<label class="filter__label">Категории</label>-->
            <div class="filter__inner">

              <a href="{% url 'gallery' %}" class="filter__link">Макеты СВО</a>

              {% for category in categories %}
              <a href="{{ category.get_absolute_url }}" class="filter__link">{{ category.name }}</a>
              {% if category.children.all %}
              {% for cat in category.children.all %}
              <a href="{{ cat.get_absolute_url }}" class="filter__link filter__link-sub">{{ cat.name }}</a>
              {% endfor %}
              {% endif %}
              {% endfor %}


              {% for category in category_gallery %}
              <a href="{{ category.get_absolute_url }}" class="filter__link">{{ category.title }}</a>
              {% endfor %}
            </div>
          </div>
          {% endif %}
        </form>
      </div>
    </div>
    <div class="category-details__col">

      <div class="index-catalog__cards">
        {% if items %}
        {% for product in items %}
        <div class="index-catalog__card card" itemscope="" itemtype="https://schema.org/Product">
          {% if product.image %}
          <a href="{{ product.get_absolute_url }}" class="card__image">

            <img src="{{ product.image.url }}" width="" height="" alt="{{ product.name }}"
                 title="{{ product.name }}" style="height: 100%"
                 itemprop="image">
          </a>
          {% endif %}
          <div class="card__content">
            {% if product.name %}
            <a href="{{ product.get_absolute_url }}" class="card__content-title">
                  <span itemprop="name">
                      {{ product.name }} {{ product.model }}
                  </span>
            </a>
            {% endif %}
            {% if product.price %}
            <div class="card__content-price" itemprop="offers" itemscope="" itemtype="https://schema.org/Offer">
                <span itemprop="price" content="{{ product.price }}">
                  {{ product.price }}
                </span>
              <span itemprop="priceCurrency" content="RUB">₽</span>
              <meta itemprop="priceValidUntil" content="2029-12-31">
              <link itemprop="availability" href="http://schema.org/InStock">
            </div>
            {% endif%}

            <div itemprop="review" itemscope="" itemtype="http://schema.org/Review">
              <span itemprop="name"></span>
              <span itemprop="author"></span>
              <meta itemprop="datePublished" content="2013-09-14">
              <div itemprop="reviewRating" itemscope="" itemtype="http://schema.org/Rating">
                <meta itemprop="worstRating" content="1">
                <span itemprop="ratingValue"></span>
                <span itemprop="bestRating"></span>
                <span itemprop="description"></span>
              </div>
            </div>
          </div>
          <a href="{{ product.get_absolute_url }}" class="card__content-link">
            Подробнее
          </a>
        </div>
        {% endfor %}
        {% endif %}
      </div>

      {% if items.paginator.count > 15 %}
      <div class="pagination">
        <a href="{% if items.has_previous %}?{% chenge_params page=items.previous_page_number %}{% else %}#{% endif %}"
           class="pagination__arrow {% if not items.has_previous%}disabled{% endif %}">«</a>
        <ul class="pagination__list">
          {% for page in items.paginator.page_range %}
          {% if page >= items.number|add:-2 and page <= items.number|add:2 %}
          <li>
            <a href="?{% chenge_params page=page %}"
               class="pagination__item  {% if items.number == page %}_active{% endif %}">{{page}}</a>
          </li>
          {% endif %}
          {% endfor %}
        </ul>
        <a href="{% if items.has_next %}?{% chenge_params page=items.next_page_number %}{% else %}#{% endif %}"
           class="pagination__arrow">»</a>
      </div>
      {% endif %}

    </div>
  </div>
</div>

{% if category.description %}
<section class="py border-t">
  <div class="container">
    <div class="section-text text">
      {{ category.description|safe }}
    </div>
  </div>
</section>
{% endif %}

{% include "../../includes/_callback.html" %}


{% endblock content %}