{% load static %}{% load thumbnail %}

<div class="callback">
  <div class="container">
    <!--<img src="{% static 'theme/img/angel.png' %}" alt="" class="callback__angel">
    <img src="{% static 'theme/img/polygon.png' %}" alt="" class="callback__polygon">-->
    <div class="callback__row">
      <div class="callback__col">
        <p class="callback__title">
          Мы готовы ответитить на все ваши вопросы
        </p>
        <ul class="callback__list">
          <li>
            <img src="img/icon/i-check-outline.svg" alt="">
            <p>
              Поможем выбрать памятник под ваш бюджет
            </p>
          </li>
          <li>
            <img src="img/icon/i-check-outline.svg" alt="">
            <p>
              Выслушаем все ваши пожаления по оформлению
            </p>
          </li>
          <li>
            <img src="img/icon/i-check-outline.svg" alt="">
            <p>
              Проконсультируем по услугам нашей компании
            </p>
          </li>
        </ul>
      </div>
      <div class="callback__col">
        <p class="callback__form-title">
          Оставьте заявку - мы обязательно с вами свяжемся
        </p>
        <form action="" class="form">
          <input type="text" placeholder="Ваше имя" class="form__input" name="name">
          <input type="tel" placeholder="Номер телефона" class="form__input" name="phone">
          <div class="form__bottom">
            <div class="socials">
              <a href=""><img src="img/icon/i-tg-white.svg" alt=""></a>
              <a href=""><img src="img/icon/i-max-white.svg" alt=""></a>
            </div>
            <div class="form__checkbox">
              <input type="checkbox" id="agree" name="agree">
              <label for="agree">
                Я даю свое согласие на обработку персональных данных и подверждаю, что ознакомлен(а) с политикой
                конфиденциальности и обработки персональных данных
              </label>
            </div>
            <button type="submit" class="form__submit">
              Оставить заявку
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>