{% extends 'base.html' %} {% load static %}
{% block title %}
{% if about.title %}{{ about.title }}{% else %}О компании{% endif %}
{% endblock %}

{% block description %}
{{ about.description }}
{% endblock %}

{% block keywords %}
{{ about.keywords }}
{% endblock %}
{% block content %}
<main class="page">
  <div class="service__hero">
    <div class="container">
      <div class="service__row">
        <div class="service__col">
          <div class="breadcrumbs" itemscope="" itemtype="http://schema.org/BreadcrumbList">
            <a href="/" itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem"
               class="breadcrumbs__item">
              Главная
              <meta itemprop="position" content="1"/>
            </a>
            <span itemprop="name" class="breadcrumbs__item">
              О компании
              <meta itemprop="position" content="3"/>
            </span>
          </div>
          {% if about.meta_h1 %}
          <h1 class="about__hero-title title">
            {{ about.meta_h1 }}
          </h1>

          {% endif %}
          <div>{{ about.small_description|safe }}</div>

          <button style="margin-top: 20px;" type="button" class="hero__button btn" data-popup="order-service">
            Заказать консультацию
          </button>

        </div>
        <div class="service__col">
          {% if about.image %}
          <img src="{{ about.image.url }}" alt="" title="" class="service__hero-image"/>
          {% endif %}
        </div>
      </div>
    </div>
  </div>

  <section class="about py">
    <div class="container">
      <div class="about__inner">
        <div class="about__grid">
          <div class="about__grid-item">
            {% if about.text %}
            {{ about.text|safe }}
            {% endif %}
            {% if about.image_two %}
            <img src="{{ about.image_two.url }}" alt="О нашей компании" title="О нашей компании">
            {% endif %}
          </div>
          <div class="about__grid-item">
            <div class="about__grid-image">
              {% if about.image_three %}
              <img src="{{ about.image_three.url }}" alt="О нашей компании" title="О нашей компании">
              {% endif %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="service-content py">
    <div class="container">
      <div class="service-content__row">
        <div class="service-content__col">
          {% if about.image_four %}
          <img src="{{ about.image_four.url }}" alt="О нашей компании" title="О нашей компании"/>
          {% endif %}
        </div>
        <div class="service-content__col">
          <div class="service-content__text _text">
            {% if about.description %}
            {{ about.description|safe }}
            {% endif %}
          </div>
          <button class="service-content__btn btn btn--outline" data-popup="callback">Заказать
            памятник
          </button>
        </div>
      </div>
    </div>
  </section>
  {% include "../includes/_callback.html" %}
  {% include "../includes/_map.html" %}
</main>
{% endblock %}