{% extends 'base.html' %}
{% load static %}
{% load thumbnail %}
{% load shop_tags %}
{% block title %}

{% if gallery.meta_title %}
{{ gallery.meta_title }}
{% else %}
Галерея
{% endif %}

{% endblock %}
{% block description %}{{ gallery.meta_description }}{% endblock %}
{% block keywords %}{{ gallery.meta_keywords }}{% endblock %}

{% block content %}

<div class="top-page">
  <div class="container">
    <div class="breadcrumbs" itemscope="" itemtype="http://schema.org/BreadcrumbList">
      <a href="{% url 'home' %}" itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem"
         class="breadcrumbs__item">
        Главная
        <meta itemprop="position" content="1">
      </a>
      <a href="{% url 'gallery' %}" itemprop="itemListElement" itemscope=""
          itemtype="http://schema.org/ListItem" class="breadcrumbs__item">
          {% if gallery.title %}{{ gallery.title }}{% else %}Галерея{% endif %}
          <meta itemprop="position" content="2">
      </a>
      {% if category %}
      <span itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem"
         class="breadcrumbs__item">
        {{ category.title }}
        <meta itemprop="position" content="3">
      </span>
      {% endif %}
    </div>
  </div>
</div>


<section class="gallery">
  <div class="container">
    <h1 class="gallery__title">
      {% if category.meta_h1 %}
        {{ category.meta_h1 }}
      {% else %}
        {{ category.title }}
      {% endif %}

      {% if gallery.meta_h1 %}
        {{ gallery.meta_h1 }}
      {% else %}
        {{ gallery.title }}
      {% endif %}
    </h1>
    {% comment %}{% if categories %}
    <div class="gallery__filter">
      {% for category in categories %}
      <a href="{{ category.get_absolute_url }}" class="gallery__filter-link">{{ category.title }}</a>
      {% endfor %}
    </div>
    {% endif %}{% endcomment %}
    <p>Add_page - {{ a }}</p>
    <p>category=None - {{ c }</p>
    <p>status - {{ b }}</p>
    <p>titleCategory - {{ d }}</p>
    <div class="gallery__grid">
      {% for item in items %}
      <a href="{{ item.image.url }}" class="gallery__item" data-fancybox="gallery">
        <i class="fa-solid fa-plus"></i>
        <img src="{{ item.image.url }}" alt="{{ item.title }}" title="{{ item.title }}">
      </a>
      {% endfor %}
    </div>

    {% if items.paginator.count > 15 %}
    <div class="pagination">
      <a href="{% if items.has_previous %}?{% chenge_params page=items.previous_page_number %}{% else %}#{% endif %}"
         class="pagination__arrow {% if not items.has_previous%}disabled{% endif %}">«</a>
      <ul class="pagination__list">
        {% for page in items.paginator.page_range %}
          {% if page >= items.number|add:-2 and page <= items.number|add:2 %}
            <li>
              <a href="?{% chenge_params page=page %}"
               class="pagination__item  {% if items.number == page %}_active{% endif %}">{{page}}</a>
            </li>
          {% endif %}
        {% endfor %}
      </ul>
      <a href="{% if items.has_next %}?{% chenge_params page=items.next_page_number %}{% else %}#{% endif %}"
         class="pagination__arrow">»</a>
    </div>
    {% endif %}

  </div>
</section>

{% if gallery.description %}
<section class="py">
  <div class="container">
    <div class="section-text text">
      {{ gallery.description|safe }}
    </div>
  </div>
</section>
{% endif %}

{% if category.description %}
<section class="py">
  <div class="container">
    <div class="section-text text">
      {{ category.description|safe }}
    </div>
  </div>
</section>
{% endif %}

{% endblock %}